:root{                                  /* "--" pour déclarer une variable*/
    --color-white : #fff;
    --color-light-red : #820029;
    --color-dark-red :#580101;
    --color-background :#1A1A1A;
    --color-black :#000;
}

.logo{                                 /* "." pour déclarer une class*/
    width: 280px;                      /*définit la largeur (de l'image en l'occurence)*/
}

.link {
    display: flex;                     /* Boîte flexible pour bouger facilement les éléments internes */
    align-items: center;               /* Alignement vertical au centre */
    justify-content: space-between;    /* Répartit l'espace horizontal entre les éléments (en les mettant sur les bords) */
    gap: 20px;                         /* Espace entre les éléments */
}

.button_billeterie{
    background-color: var(--color-light-red);
    padding: 20px 100px;               /*Application symetrique de padding et répartition (top et bottom :35px, right et left :100xp)*/
    margin-bottom: 15px;               /*Espacement entre le boutton et l'horaire en dessous*/
}

.button_billeterie_slider{
    display: flex;
    position: absolute;
    top: 900px;                     /*ya moyen de faire mieux*/
    left: 20px;
    background-color: var(--color-light-red);
    align-items: center; /* Aligner le contenu verticalement au centre */
    
}

.light_red{
    background-color: var(--color-light-red);   /*couleur de fond rouge clair*/
}

.dark_red{
    background-color:  var(--color-dark-red);   /*couleur de fond rouge foncé*/
}

#etatOuverture img {                            /* "#" pour déclarer une id*/
    vertical-align: middle;
    width: 29px;
    height: 20px;
}

.image-slideshow .image:first-child {
    display: block;                            /* display: block affiche l'élément en tant que bloc, occupant toute la largeur disponible */
    position:relative;              /*pas certain de celui la mais si ça marche pas toucher*/
}

.fade {
    animation-name: fade;                      /*transition fondu*/
    animation-duration: 2s;
}

.image{
    display: none;
}

.image-car{                                     /*Pour "image-carroussel"*/
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.container_info{
    margin-left: auto;
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 2/12;
}

.info_content{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

@media screen and (max-width: 1100px){
    .info_content{
        flex-direction: column;
    }
}

.text_column{                       /*colonne de texte*/
    padding-left: 30px;
    width: 50%;
    padding-right: 40px;
}

.image_quote_column{                /*colonne image et citation*/
    width: 50%;
    padding-left: 40px;
}

.devanture_musee{
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-wrap: wrap;                /* /!\ utile ? (ce qu'a dit l'intervenant)*/
}

.container_expo{
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px;
}

.grimoire{
    width: 100%;
    height: 700px;
}

.button_savoir_plus {
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 100px;
    background-color: var(--color-light-red);
    align-items: center; /* Aligner le contenu verticalement au centre */
}

.button_savoir_plus_ALaUne {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--color-light-red);
    align-items: center; /* Aligner le contenu verticalement au centre */
}

.square_info{
    background-color: var(--color-dark-red);
    padding-left: 10px;
    padding-right: 10px;
    align-self:flex-start;                      /*ne fonctionne pas j'arrive pas a le caler a gauche*/
}

.image_info{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 70px;
    max-width: 70px;
}

.Space_savoir_plus{
    margin-left: 10px;
    vertical-align: middle
}












main{
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;   /*normalement invisible*/
}
::-webkit-scrollbar-track {
    background: var(--color-black);
}
::-webkit-scrollbar-thumb {
    background: var(--color-light-red);
}



body{ 
    color: var(--color-white);
    background: var(--color-background);

}

nav ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 25px;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 6;
    height: 6px;
    background: var(--color-light-red);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}











.container_news{
    margin-left: auto; 
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px; 
    flex-wrap: wrap;
}

.container_animations{
    margin-left: auto; 
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px; 
    position: relative;
    border-top: #000;
    border-bottom: #000;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%; 
}

.container_animations img{
    transition: transform 0.5s ease;
    max-width: 100%;
    height: auto;
    width: 606px;
    height: 313px;
}

.slide-left {
    transform: translateX(-100%);
}

@media screen and (max-width: 1410px){
    .slide-left{
        transform: translateX(0.1%);
    }
}

.slide-right {
    transform: translateX(100%);
}

@media screen and (max-width: 1410px){
    .slide-right{
        transform: translateX(0.1%);
    }
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centre verticalement */
    font-size: 24px;
    cursor: pointer; /* Indique que c'est cliquable */
    z-index: 10; /* S'assurer qu'ils apparaissent au-dessus de l'image */
    color: #fff; /* Assurez-vous que la couleur est visible sur l'image */
    background-color: rgba(0, 0, 0, 0.4); /* Fond légèrement transparent pour la visibilité */
    padding: 8px 12px;
    border-radius: 50%; /* Donne une forme circulaire aux flèches */
}

#left-arrow {
    left: 10px; /* Un petit espace par rapport à la bordure gauche */
}

#right-arrow {
    right: 10px; /* Un petit espace par rapport à la bordure droite */
}

.container_carte{
    display: flex;
    margin-left: auto; 
    margin-right: auto;
    padding-left: 75px;
    padding-right: 75px; 
}

@media screen and (max-width: 1100px){
    .container_carte{
        flex-direction: column;
    }
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--color-white);
    text-align: center;
    font-family: Abhaya Libre ExtraBold;
    font-size: 90px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

@media screen and (max-width: 1100px){
    h1{
        margin-top: 25px;
        margin-bottom: 25px;
        color: var(--color-white);
        text-align: center;
        font-family: Abhaya Libre ExtraBold;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


h2{
    margin-top: 10%;
    margin-bottom: 10%;
    color: var(--color-white);
    font-family: Abhaya Libre ExtraBold;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 6px;
}

@media screen and (max-width: 1100px){
    h2{
        margin-top: 10%;
        margin-bottom: 10%;
        color: var(--color-white);
        font-family: Abhaya Libre ExtraBold;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-left: 6px; 
    }
}

h3{
    margin-top: 25px;
    margin-bottom: 20px;
    color: var(--color-white);
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

@media screen and (max-width: 1100px){
    h3{
        margin-top: 25px;
        margin-bottom: 20px;
        color: var(--color-white);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal; 
    }
}

.texM{
    color: var(--color-white);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    width: 705px;
    height: 224px;
    flex-shrink: 0;
}

@media screen and (max-width: 1100px){
    .texM{
        color: var(--color-white);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;    
        width: 352px;
        height: 112px;
        flex-shrink: 0;
    }
}


.texMbold{
    color: var(--color-white);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    
    width: 705px;
    height: 224px;
    flex-shrink: 0;
    font-weight: bold;
}

@media screen and (max-width: 1100px){
    .texMbold{
        color: var(--color-white);
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;    
        width: 352px;
        height: 112px;
        flex-shrink: 0;
        font-weight: bold;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

.texS{
    color: var(--color-white);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 1100px){
    .texS{
        color: var(--color-white);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10%;
        margin-top: 10%;
    }
}

.texSbold{
    width: 553px;
    height: 185px;
    flex-shrink: 0;
    color: var(--color-white);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 1100px){
    .texSbold{
        width: 276px;
        height: 92px;
        flex-shrink: 0;
        color: var(--color-white);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        font-weight: bold;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

.texXS{
    width: 554px;
    height: 121px;
    flex-shrink: 0;   
    color: var(--color-white);
    font-family: Abhaya Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: solid 0.2em;
    padding: 0.5em;
    border-left-color: var(--color-light-red);
    font-style: italic;
    margin-bottom: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 1100px){
    .texXS{
        width: 100%;
        height: 46px;
        flex-shrink: 0;
        color: var(--color-white);
        font-family: Abhaya Libre;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        font-weight: bold;
        margin-bottom: 5%;
        margin-top: 5%;
        flex-direction: row;
        font-style: italic;
    }
}

.texXSbold{
    width: 554px;
    height: 121px;
    flex-shrink: 0;   
    color: var(--color-white);
    font-family: Abhaya Libre;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: solid 0.2em;
    padding: 0.2em;
    border-left-color: var(--color-light-red);
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 1100px){
    .texXSbold{
        width: 100%;
        height: 46px;
        flex-shrink: 0;
        color: var(--color-white);
        font-family: Abhaya Libre;
        font-size: 14px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        font-weight: bold;
        padding: 0.2em;
        border-left-color: var(--color-light-red);
        font-style: italic;
        border-left: solid 0.2em;
        margin-bottom: 5%;
        margin-top: 5%;
    }
}

nav{
    flex-grow: 1;
    font-family: Abhaya Libre ExtraBold;
    justify-content: center;
    text-decoration: none;
    color: var(--color-white);
    margin-left: 10%;
}

#logo{ /*id*/
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

header{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-left: 1%;
}










footer {
    display: flex;
    color: var(--color-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: space-around;
}



footer nav{
    display : flex;
    flex-grow: 1;
    font-family: Abhaya Libre ExtraBold;
    justify-content: space-around;
    text-decoration: none;
    color: var(--color-white);
}

.Facebook{
    display : flex;

}

* {
    box-sizing: border-box
}


.icone_insta{
    max-width: 55px;
    max-height: 55px;
    
}
.icone_facebook{    
    max-width: 55px;
    max-height: 55px;
}
.icone_mail{
    max-width: 60px;
    max-height: 60px;
}
.icone_telephone{
    max-width: 60px;
    max-height: 60px;
}
.icone_gps{
    max-width: 60px;
    max-height: 60px;
}

.horraire_comment_s_y_rendre{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.horaires{
    padding: 90px;
    background-color: var(--color-light-red);
    height: 500px;
    width: 600px;
    font-size: 25px;
    flex-wrap: wrap;
}

.s_y_rendre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px;
    background-color: var(--color-light-red);
    height: 500px;
    width: 600px;
    font-size: 25px;
}

.colonne_picto{
    display: flex;
    align-items: center;
}
.colonne_droite{
    display: flex;
}

.colonne_picto img{
    margin-right: 5%;
    width: 10%;
    width: 20%;
}

.heure{
    font-weight: bold;
}

.map{
    width: 100%;
}

.logo_MAI_blanc{
    max-width: 132px;
    max-height: 107px;


}
.Mail1{
    max-width: 104px;
    max-height: 74px;
    
}
.Tel1{
    max-width: 97px;
    max-height: 77px;
}
.Musee1{
    max-width: 161px;
    max-height: 115px;
}
.Gps1{
    max-width: 154px;
    max-height: 134px;
}

.logo_PageB{
    max-width: 132px;
    max-height: 108px;
}

.Foot_Texte{
    max-width: 680px;
    max-height: 325px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    padding-left: 11px;       
}
.Foot_Texte2{
    max-width: 402px;
    max-height: 132px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;           
}

.logo_BD{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    gap: 44px;
    margin-top: 35px;
    
}

.Picto_droite{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.Picto_contact{
    display: flex;
    gap: 30px;
    padding-bottom: 30px;
}

.link_foot{
    display: flex;
    margin-left: 20%;
    margin-right: 10%;
    justify-content: space-around;
}
.nav_B{
    margin:0px;
    margin-right: 10%;
    margin-top: 50px;
}

.Titre_foot{
    display: flex;
    margin-bottom: 140px;
    justify-content: center;
    margin-top: 50px;
    font-size: 24px;
    font-family: 'Inter', sans-serif; 
    
}

.a_venir{
    display: flex;
    width: 100%;
    height: 100%;
}

.card {
    display: flex;
    flex-basis: 33.33%;
    flex-grow: 1;    
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.image-card{
    filter: brightness(0.5);
    width: 100%;
    height: 100%;
}



.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
}

.image-card:hover {
    filter: brightness(1.1);
    transition: filter 0.3s;
}

.card-title {
    margin: 0;
    color: #fff;
}

@media (max-width: 1000px) {
    .a_venir {
        flex-direction: column;  
    }

    .card {
        flex-basis: auto;
        width: 100%; 
    }
}






@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.slideshow-container {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
  .slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide .text {
    position: absolute;
    top: 115%;
    left: 50%;
    font-family: Abhaya Libre ExtraBold;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
  }
  
  /* Boutons "précédent" et "suivant" */
  .prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 16px;
    margin-top: -22px;
    color: white;
    cursor: pointer;
    z-index: 1;
  }
  
  .next {
    right: 0;
  }

  /*Retrouver nous cube rouge*/

  .retrouvez_nous{
    display: flex;
    padding: 90px; 
    margin-left: 200px;
    margin-right: 200px;


    background-color: var(--color-light-red);
  }
  .Retrouvez{
    text-align: center;
  }

.Titre_Info_Bas_S{
    font-family: 'Inter', sans-serif;  
    font-size: 25px;
    
    
}

.Taille_Bas_XS{
    font-family: 'Inter', sans-serif;  
    font-size: 20px;
    font-style: bold ;
}

.colonne_gauche{
    display: flex;
    gap: 41px;
    flex-direction: column;

}

.colonne_droite{
    display: flex;
    gap: 32px;
    flex-direction: column;

}

.retrouvez_nous{
    margin-top: 25px;
    display: flex;
    gap: 382px;

}

.colonne_picto2{
    display: flex;
    gap: 16px;
    flex-direction: column; 
}
    


